# Node / React / Vite
node_modules/
dist/
build/
.env
.env.local
.env.development
.env.production

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Database / logs
*.sqlite3
*.db
logs/
*.log

# Mac / IDE
.DS_Store
.idea/
.vscode/
# Django static files
staticfiles/
bilimzone_backend/staticfiles/
